/*
define values and properties in a single place
and then import in several other places
*/

:root {
    /* Colors*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Fonts */
    --font-robot: "Roboto";  
}